<ion-header>
  <ion-toolbar>
    <ion-title id="headerTitle">Don't Go Alone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-segment mode="md" (ionChange)="segmentChanged()" [(ngModel)]="segment" color="primary" scrollable>
  <ion-segment-button value="0" mode="md" checked>
    <p>Interesses</p>
  </ion-segment-button>
  <ion-segment-button value="1" mode="md">
    <p>Confirmados</p>
  </ion-segment-button>
  <ion-segment-button value="2" mode="md">
    <p>Convites</p>
  </ion-segment-button>
  <ion-segment-button value="3" mode="md">
    <p>Seus Eventos</p>
  </ion-segment-button>
</ion-segment>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-slides #slides (ionSlideDidChange)="slideChanged()" class="slides">
    <ion-slide class="slide">
      <div *ngIf="!isSavedEvent">
        <p id="semEventos">Você ainda não tem nenhum interesse!</p>
      </div>
      <div class="divList" *ngIf="isSavedEvent">
        <ion-list class="list">
          <br>
          <div class="card" style="background-image: url(/assets/party.png);" *ngFor="let event of savedEvents">
            <div class="layer">
              <div class="info" (click)="eventOnClick(event)">
                <div class="card-toptitle">
                  <p class="p-toptitle">{{event.starDateExtenso}}</p>
                </div>
                <div class="card-title">
                  <p class="p-title">{{event.title}}</p>
                </div>
                <div class="card-subtitle">
                  <p class="p-subtitle">{{event.place}}</p>
                </div>
              </div>
              <div class="icon">
                <ion-icon class="heartIcon" (click)="heartClick(event)" [name]="event.saved ? 'heart' : 'heart-empty'">
                </ion-icon>
              </div>
            </div>
          </div>
        </ion-list>
      </div>
    </ion-slide>
    <ion-slide>
      <div id="msgContainer" *ngIf="!isConfirmedEvent">
        <p id="semEventos">Você ainda não tem nenhum evento confirmado!</p>
      </div>
      <div class="divList" *ngIf="isConfirmedEvent">
        <ion-list class="list">
          <br>
          <div class="card" style="background-image: url(/assets/party.png);" *ngFor="let event of confirmedEvents">
            <div class="layer">
              <div class="info" (click)="eventOnClick(event)">
                <div class="card-toptitle">
                  <p class="p-toptitle">{{event.starDateExtenso}}</p>
                </div>
                <div class="card-title">
                  <p class="p-title">{{event.title}}</p>
                </div>
                <div class="card-subtitle">
                  <p class="p-subtitle">{{event.place}}</p>
                </div>
              </div>
              <div class="icon">
                <ion-icon class="heartIcon" (click)="heartClick(event)" [name]="event.saved ? 'heart' : 'heart-empty'">
                </ion-icon>
              </div>
            </div>
          </div>
        </ion-list>
      </div>
    </ion-slide>
    <ion-slide id="slideConvites">
      <div id="msgContainer" *ngIf="!convites.length">
        <p id="semEventos">Não há novos convites!</p>
      </div>
      <div class="divList" *ngIf="convites.length">
        <ion-list class="list">
          <ion-item id="conviteItem" *ngFor="let convite of convites">
            <div id="infoConvite">
              <div (click)="navegarEventoConvite(convite.eventId)">
                <div id="infoNome">
                  <p id="nomeConvite">{{convite.nomeFromUser}} te convidou para o evento:</p>
                </div>
                <div id="nomeEvento">{{convite.nomeEvento}}</div>
                <div id="dataEvento">{{convite.dataEvento}}</div>
                <div id="localEvento">{{convite.localEvento}}</div>
              </div>
              <div id="opcoes">
                <div id="aceitar" (click)="respondRequest(convite, 'A')">Aceitar</div>
                <div id="recusar" (click)="respondRequest(convite, 'R')">Recusar</div>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </ion-slide>
    <ion-slide>
      <div *ngIf="!isOwnEvent">
        <p id="semEventos">Você ainda não tem nenhum evento!</p>
      </div>
      <div class="divList" *ngIf="isOwnEvent">
        <ion-list class="list">
          <br>
          <div class="card" style="background-image: url(/assets/party.png);" *ngFor="let event of createdEvents">
            <div class="layer">
              <div class="info" (click)="eventOnClick(event)">
                <div class="card-toptitle">
                  <p class="p-toptitle">{{event.starDateExtenso}}</p>
                </div>
                <div class="card-title">
                  <p class="p-title">{{event.title}}</p>
                </div>
                <div class="card-subtitle">
                  <p class="p-subtitle">{{event.place}}</p>
                </div>
              </div>
              <div class="icon">
                <ion-icon class="heartIcon" (click)="heartClick(event)" [name]="event.saved ? 'heart' : 'heart-empty'">
                </ion-icon>
              </div>
            </div>
          </div>
        </ion-list>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button>
      <ion-icon class="heartIcon" name="add" style="font-size: 350%;" routerLink="/create-event" routerDirection="root">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>