<!-- <ion-header>
  <div id="imagemPerfil" style="background-image: url(/assets/party.png);"></div>
  <p id="nomeAmigo">{{nomeConversa}}</p>
</ion-header> -->

<ion-header>
  <ion-toolbar>
    <ion-title >{{nomeConversa}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let message of messages">
      <ion-col size="9" *ngIf="currentUser !== message._personID" class="message other-message">
        <span>{{ message._message }}</span>
      </ion-col>

      <ion-col offset="3" size="9" *ngIf="currentUser === message._personID" class="message my-message">
        <span>{{ message._message }}</span>
      </ion-col>
      <br>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="-10px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row align-items-center no-padding>
      <ion-col size="10">
        <textarea autosize rows="1" maxRows="4" [(ngModel)]="newMsg" class="message-input"></textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" expand="block" fill="clear" color="primary"
          [disabled]="newMsg === ''" class="msg-btn" (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>