<ion-header>
  <ion-toolbar>
    <ion-title>Convidar Amigos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-input type="text" id="campoBusca" placeholder="Buscar Amigo" [(ngModel)]="busca" (ionInput)="searchOnInput($event)"></ion-input>

  <br>

  <p id="semAmigos" *ngIf="amigos.length == 0">Não há amigos disponíveis para convite :(</p>

  <ion-list *ngIf="amigos.length > 0">
    <ion-item *ngFor="let amigo of amigos">
      <div class="info" (click)="openProfile(amigo.id)">
        <div id="imagemPerfil" style="background-image: url(/assets/party.png);"></div>
        <p id="nomeAmigo">{{amigo.nome}}</p>
      </div>
      <div class="inviteIcon">
        <ion-button expand="block" fill="clear" color="primary" *ngIf="!amigo.convidado" (click)="convidarAmigo(amigo)">
            <ion-icon name="person-add" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button expand="block" fill="clear" color="primary" *ngIf="amigo.convidado" (click)="cancelarConvite(amigo)">
            <ion-icon name="checkmark"  slot="icon-only"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>