<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
  <div class="eventCover" style="background-image: url(/assets/party.png);"></div>
  <div class="info">
    <div class="data">
      <h2 id="mesResEvento">{{event.mesResEvento}}</h2><br>
      <h2>{{event.diaInicioEvento}}</h2>
    </div>
    <div class="title">
      <h2>{{event.title}}</h2><br>
      <h4>{{event.place}}</h4>
    </div>
    <div class="fullDate">
      <p id="fulldate">{{event.startDateDesc}} - {{event.endDateDesc}}</p>
    </div>
  </div>
  <div class="actions">
    <div class="confirm">
      <ion-icon name="add"></ion-icon>
      <p>Eu vou</p>
    </div>
    <div class="save">
      <ion-icon name="heart-empty"></ion-icon>
      <p>Salvar</p>
    </div>
    <div class="invite">
      <ion-icon name="person-add"></ion-icon>
      <p>Convidar</p>
    </div>
  </div>
  <div class="people">
    <div class="text">
      <p>Julia, Pedro e mais 40 pessoas irão.</p>
    </div>
    <div class="icone">
      <ion-icon name="arrow-forward"></ion-icon>
    </div>
  </div>
  <div class="desc">
    <h2>Descrição</h2>
    <p>{{event.description}}</p>
  </div>
  <div class="location">
    <div class="locationInfo">
      <h3>{{event.place}}</h3><br>
      <h4>{{ruaEvento}}, {{numEvento}} - {{bairroEvento}}</h4><br>
      <h5>{{cidadeEvento}}, {{estadoEvento}}</h5>
    </div>
    <div #mapElement class="map"></div>
  </div>
  <ion-fab *ngIf="isOwner" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navigateToEvent()">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>