$label-md-text-color-focused: white;
$label-wp-text-color-focused: white;

h1{
    text-align: center;
}

ion-input{
    --ion-color-primary: white;
    color: var(--ion-color-primary);
    border-color: var(--ion-color-primary);
}

.form{
    padding-left: 2%;
    padding-right: 2%;
}

.item {
    border-bottom-color: white !important;
}

.botao{
    padding: 1px;
    width: 90%;
    margin: auto;
    border-radius: 2px;
}

.formulario{
    width: 90%;
    margin: auto;
}

#forgot{
    width:90%; 
    margin: auto;
    text-align: right;
    padding-left: 40%;
}