<ion-content color="primary">
  <br>
  <div style="margin-top: 10%;">
    <h1 style="font-size: 80px; font-family: 'Chewy Regular', sans-serif">Don't Go<br>Alone</h1>
  </div>

  <div class="form">
    <form #form="ngForm" (ngSubmit)="login(form)" method="get">

      <ion-item color="primary" class="formulario">
        <ion-label position="floating">Email</ion-label>
        <ion-input ngModel type="email" name="email"></ion-input>
      </ion-item>

      <ion-item color="primary" class="formulario">
        <ion-label position="floating">Senha</ion-label>
        <ion-input ngModel type="password" name="password"></ion-input>
      </ion-item>
      <br>
      <ion-button fill="clear" color="light" expand="block" id="forgot">Esqueceu a senha?</ion-button>
      <br>

      <ion-button class="botao" color="light" expand="block" type="submit">Entrar</ion-button>

      <p text-center>Ou</p>

      <ion-button class="botao" color="light" expand="block" routerLink="/register" routerDirection="forward">Criar Conta</ion-button>

    </form>
  </div>
</ion-content>