$label-md-text-color-focused: white;
$label-wp-text-color-focused: white;

h1{
    text-align: center;
    color: white;
}

.item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
    color: black; //label color when focusing
}
.item-input .label-md{
    color: black; //label color
}

ion-input{
    color: white;
    border-color: var(--ion-color-primary);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


ion-content{
    --ion-background-color:linear-gradient(to bottom right, #9400d3, #ff69b4);
}

.form{
    padding-left: 2%;
    padding-right: 2%;
}

.item {
    border-bottom-color: white !important;
}

.botao{
    padding: 1px;
    width: 90%;
    margin: auto;
    border-radius: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.formulario{
    width: 90%;
    margin: auto;
}

.error{
    margin-left: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.ou{
    color: white;
}

#forgot{
    width:90%; 
    margin: auto;
    text-align: right;
    padding-left: 40%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}