$label-md-text-color-focused: white;
$label-wp-text-color-focused: white;

h1{
    text-align: left;
    margin-left: 10%;
    font-size: 300%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
    color: white; //label color when focusing
}
.item-input .label-md{
    color: white; //label color
}

ion-content{
    --ion-background-color:linear-gradient(to top left, #9400d3, #ff69b4);
}

ion-input{
    --ion-color-primary: white;
    color: var(--ion-color-primary);
    border-color: var(--ion-color-primary);
}

ion-datetime{
    color: white
}

.form{
    padding-left: 2%;
    padding-right: 2%;
}

.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.item {
    border-bottom-color: white !important;
}

.botao{
    padding: 1px;
    width: 90%;
    margin: auto;
    border-radius: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.formulario{
    width: 90%;
    margin: auto;
}

.error{
    margin-left: 10%;
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

ion-select{
    color: white;
}