ion-input {
    --padding-start:12px;
    --padding-end: 12px;
}

ion-content{
    --ion-background-color: #fafafa;
}

.descEvento{
    font-size: 12px;
}

#headerTitle{
    font-family:'Chewy Regular', sans-serif;
    background: linear-gradient(to right,#9400d3 0%, #ff69b4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#campoBusca{
    background-color: white;
    width: 90%;
    margin: auto;
    margin-top: 5%;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    height: 8%;
    max-height: 50px;
}

#es{
    background-color: white;
    clear: both;
    width: 90%;
    margin: auto;
    border: 1px solid #e2e2e2;    
    border-radius: 5px;
    padding: 15px;
    overflow: hidden;
}

#est{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline;
    font-size: 125%;
}

#title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
    margin: auto;
    font-size: 125%;
}

#estx{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#icon{
    color: #A341FF;
    display: inline-block;
}

.slides{
    height: 35%;
}

.slide{
    height: 100%;
}

.slideDiv{
    display: block;
    background-color: white;
    border: 1px solid #e2e2e2;
    margin-left:5%;
    margin-right:5%;
    height: 100%;
    width: 100%;
    max-width: 100%;
    border-radius:  5px;
    background-size: cover;
    background-position: center center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

.slideContent{
    margin-top: 30%;
    height: 50%;
    padding: 2.5%;
    width: 75%;
    float: left;
    overflow: hidden;
}

.maisEventos > h3 {
    color: #A341FF;
}

.dataEvento{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 115%;
    display: block;
    text-align: left;
    margin: 0;
    color: #A341FF;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.nomeEvento{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    color: white;
    margin: 0;
    font-size: 150%;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.localEvento{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    margin: 0;
    font-size: 125%;
    color: #A341FF;
    display: block;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.iconDiv{
    margin-top: 37.5%;
    height: 50%;
    width: 25%;
    float: left;
}

.heartIcon{
    display: inline-block;
    font-size: 250%; 
    color:#A341FF;
}

.layer {
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.seta{
    text-align: right;
    font-size: 200%;
    margin: 0;
}

#spinner{
    width: 100%;
    padding-left: 45%;
    margin-top: 5%;
}
//-------------------------------- Card do evento -----------------------------------------------------------
.list{
    position: relative;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.divList{
    position: absolute;
    height: 100%;
    width: 100%;
}

.layer {
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.card {
    position: relative;
    text-align: left;
    display: block;
    width: 90%;
    height: 30%;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 5%;
    background-size: cover;
    background-position: center center;
    
    p{
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
  }

  .card-title {
    position: relative;
    top: 47%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 125%;
    color: #fff;
    display: block;
    margin-left: 5%;
    width: 100%;
  }

  .card-subtitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    position: relative;
    top: 47%;
    width: auto;
    display: block;
    margin-left: 5%;
    width: 100%;
  }

  .card-toptitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 90%;
    position: relative;
    top: 46%;
    width: auto;
    display: block;
    margin-left: 5%;
    width: 100%;
  }

  .p-toptitle, .p-subtitle{
    color:#A341FF;
  }

  .info{
      height: 100%;
      width: 70%;
      bottom: 0;
      float: left;
  }

  .icon{
      position: relative;
      float: left;
      font-size: 250%;
      color: #A341FF;
      width:30%;
      height: 100%;
      padding-top: 27%;
      padding-left: 8%;
  }


//------------------------------------------------

#semEventos{
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
    color: #47525E;
    font-size: 5vw;
    overflow-wrap: break-word;
}

#msgContainer{
    width: 90%;
    height: auto;
    overflow: auto;
    margin: auto;
}