ion-segment-button {
    min-width: 70px;
  }
  
  ion-slides,
  ion-slide {
    height: 100%;
    font-size: 48px !important;
  }
  
  .slide-1 {
    background: #e0bbe4;
  }
  
  .slide-2 {
    background: #957dad;
    color: #fff;
  }
  
  .slide-3 {
    background: #ffdfd3;
  }
  
  